@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue';

}

.container-body {
    background: #852D1F;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*header*/

.container-header {
    background: #C9BB7C;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

}

.img-header {
    background: #852D1F;
    height: 20rem;
    /* por 16 pixeles*/
    width: 20rem;
    object-fit: contain;
    margin-right: 30%;
    padding: 0px;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);

}

.nom-equipo {
    background: #B7680C;
    color: #364049;
    box-shadow: 20px 20px #d19f67;
    font-size: 400%;
    /* margin-left: 10%; */
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10%;
}

/* main*/
.container-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 60%; */
    width: 100%;
}

.picture-hokey-2 {
    height: 3rem;
    width: 3rem;
}

/* barra de main*/
.bar {
    background: #4D6E53;
    justify-content: space-evenly;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h2-title {
    background: #2a7d81;
    box-shadow: 10px 10px #02565a;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
    border-radius: 10%;
    padding: 0 5px;
}

h2 {
    color: #364049;
    font-size: 250%;
    align-items: center;
    text-align: center;

}

.log-bar {

    height: 80px;
    width: 80px;
    object-fit: contain;
    margin: 0px;

}

/*--------------------------------section*/

.container-section {
    background: #852D1F;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    flex-grow: 1;
}

.picture-hokey-2 {
    background: #C9BB7C;
    height: 20rem;
    /* por 16 pixeles*/
    width: 20rem;
    object-fit: contain;
    margin-right: 30%;
    padding: 0px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

article>h3 {
    color: #344352;
    font-size: 180%;
    margin: 5px;
    text-shadow: 2px 2px 2px #B7680C;
}

article>p {

    padding: 5px;
    text-indent: 20px;
    font-size: 130%;
}

/*-----------------------------------nav-bar*/
.container-nav {
    display: flex;
    flex-direction: column;
    padding-right: 3%;
    margin: 3% 1%;

}

.active {
    color: #ffffffa6;
    background-color: #d19f67;
}

.nav-home::before {
    content: "Home";
}

.nav-about::before {
    content: "About";
}

.nav-contact::before {
    content: "Contact";
}

.nav-games::before {
    content: "Schedule";
}

/*--------------------------------- boton de rules*/
.nav-rules::before {
    content: "Rules";
}

.nav-registration::before {
    content: "Registration";
}

nav a {
    text-align: center;
    padding: 5px 5px;
    font-size: 120%;
    border: 2px solid #000000;
    color: #e78d8da4;
    background-color: #96550b;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 5px 3px 3px #000000;
}

/* ----------------------------de html contact*/
.div-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* -----------------------------Imagen de la section del about*/
.img-section-about {
    display: flex;
    align-items: center;
}

.div-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

/*----------------------------- Estilos propios de rules*/


.h3-subtitle {
    color: #364049;
    font-size: 250%;
    align-items: center;
    text-align: center;
}



.container-section-rules {
    color: #ffffffb6;
    background: #00000057;
    box-shadow: 20px 20px #0000002a;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 1%;
}

#section-rules {

    width: 75%;
    justify-content: end;
    flex-grow: 2;
    padding: 2%;
}

#section-rules,
p,
li {
    font-size: large;

}

.titles-sections {
    padding-bottom: 2%;
    font-size: xx-large;
}

.indentation {
    text-indent: 20px;
}

#li-rules {
    margin-left: 40px;
    list-style-type: circle;
}

#type1>li {
    padding-bottom: 2%;
}

/* ------------------------elementos de game-information*/

.container-section-game {

    display: flex;
    align-items: baseline;
    /* flex-grow: 1; */
}

.container-table {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    margin: 10px 0;
}

table {
    color: #ffffffb6;
    background: #00000057;
    box-shadow: 20px 20px #0000002a;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 3%;
}

th {
    text-align: center;
    padding: 3rem 8rem;
}

tbody tr:hover {
    color: #000000c5;
    ;
    background: #d19f67;
}

td {
    text-align: center;
    padding: 2rem;

}
.after-table {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-section {
    display: flex;
    flex-direction: column;
    padding: 2rem;

}

#p-phone-mail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
}

#p-phone-mail a {
    text-decoration: none;
}

#phone::before {
    content: "+34555005500"
}

#mail::before {
    content: "michael.randall@chihockey.org";
}

/* ---------------------------------Registration */

.general-registration {
    display: flex;
    padding: 15px;
}

.sec-nav-registration {
    padding: 2em;
}

.img-registration {
    background: url(../img/design.jpg);
    background-position: bottom;
    background-size: cover;
    width: 50%;

}

/* ---------------------------formulario*/
.section-form {

    height: 100%;
    width: 50%;
    padding: 0px 3%;


}

.h1-form {
    color: #313f4b;
    text-shadow: 0px 2px 2px #B7680C;
    font-size: 250%;
    align-items: center;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    color: #b9b9b9;

}

.form input {
    background: none;
    border-radius: 20%;
    text-align: center;
}

.form label {
    padding: 5px;
    text-align: center;

}

.lst-name {
    padding-top: 15px;
}

.fieldsets {
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.pers-inform-field {
    flex-direction: column;
}

.submit {
    display: flex;
    justify-content: center;
}

.form input[type="submit"] {
    margin: 10px;
    padding: .5rem 12rem;
    background-color: #364049;

}

input[type="submit"] {
    color: #b9b9b9;
    font-size:x-large;
}

.form input[type="submit"]:hover {
    color: #313f4b;
    background-color: #2a7d81;
    cursor: pointer;
}



.submite-date {
    padding: 10px;
}

.h1-form {
    font-size: 200%;
    text-align: center;
    padding: 5% 0%;
}

legend {
    font-size: 150%;
    padding: 2% 20px;
}



.education-label {
    display: flex;
    padding: 0px;
}

form .indice {
    padding-bottom: 20px;
}