@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue';

}

.container-body {
    background: #852D1F;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*header*/

.container-header {
    background: #C9BB7C;
    height: 20rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;

}

.img-header {
    background: #852D1F;
    height: 20rem;
    /* por 16 pixeles*/
    width: 20rem;
    object-fit: contain;
    margin-right: 30%;
    padding: 0px;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);

}

.nom-equipo {
    background: #B7680C;
    color: #364049;
    box-shadow: 20px 20px #d19f67;
    font-size: 400%;
    margin-left: 10%;
    height: 100%;
    width: 100%;
    padding: 10px;
}

/* main*/
.container-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 60%; */
    width: 100%;
}

.picture-hokey-2 {
    height: 3rem;
    width: 3rem;
}

/* barra de main*/
.bar {
    background: #4D6E53;
    justify-content: space-evenly;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h2-title {
    background: #2a7d81;
    box-shadow: 10px 10px #02565a;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 15px;
}

h2 {
    color: #364049;
    font-size: 250%;
    align-items: center;
    text-align: center;

}

.log-bar {

    height: 80px;
    width: 80px;
    object-fit: contain;
    margin: 0px;

}

/*section*/

.container-section {
    background: #852D1F;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    flex-grow: 1;
}

.picture-hokey-2 {
    background: #C9BB7C;
    height: 20rem;
    /* por 16 pixeles*/
    width: 20rem;
    object-fit: contain;
    margin-right: 30%;
    padding: 0px;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

article>h3 {
    color: #344352;
    font-size: 180%;
    margin: 5px;
    text-shadow: 2px 2px 2px #B7680C;
}

article>p {

    padding: 5px;
    text-indent: 20px;
    font-size: 130%;
}

/*nav-bar*/
.container-nav {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    padding-right: 3%;
    margin-left: 1%;

}

.active {
    color: #ffffffa6;
    background-color: #d19f67;
}

.nav-home::before {
    content: "Home";
}

.nav-about::before {
    content: "About";
}

.nav-contact::before {
    content: "Contact"
}
.nav-games::before{
    content: "Schedule";
}
nav a {
    text-align: center;
    padding: 5px 5px;
    font-size: 120%;
    border: 2px solid #000000;
    color: #e78d8da4;
    background-color: #B7680C;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 5px 3px 3px #000000;
}

/* de html contact*/
.div-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Imagen de la section del about*/
.img-section-about {
    display: flex;
    align-items: center;
}

.div-section {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

/* Estilos propios de rules*/
.h3-subtitle {
    color: #364049;
    font-size: 250%;
    align-items: center;
    text-align: center;
}

/* boton de rules*/
.nav-rules::before {
    content: "Rules"
}

.container-section-rules {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#section-rules {
    border: 2px solid yellow;
    width: 75%;
    justify-content: end;
    flex-grow: 2;
    padding: 3%;
}

.titles-sections{
    padding-bottom: 2%;
    font-size:xx-large;
}
.container-table{
    /* display: flex;
    flex-direction: row; */
}