@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue';
}

/*logo*/
.logo {
    position: absolute;
    height: 180px;
    float: left;
    margin-left: 5%;
    top: 50px;
}

.logo:hover {
    transform: scale(1.5) rotate(-45deg);
}

/*banner*/
.container {
    background: url(../img/hockey2.jpg);
    background-size: cover;
    height: 500px;
    margin-top: 0px;
    position: relative;
    border-bottom: 3px solid #539e49;
}

.nom-equipo {
    border: 4px solid #539e49;
    background: linear-gradient(#488a3f, #76d676);
    padding: 5px;
    -webkit-text-fill-color: #fc0707;
    -webkit-text-stroke: 1px #000000;
    font-size: 400%;
    position: absolute;
    bottom: 80px;
    left: 5%;
    box-shadow: 10px 5px 5px #539e49;
}

/* Barra de navegacion*/
nav a {
    position: relative;
    display: inline;
    padding: 5px 20px;
    font-size: 120%;
    margin-left: 20%;
    border: 2px solid #000000;
    bottom: 500px;
    color: rgb(252, 252, 252);
    background-color: #539e49;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 5px 3px 3px #000000;

}

.active {
    background-color: rgb(252, 7, 211);

}

.nav-home::before {
    content: "Home";
}

.nav-about::before {
    content: "About";
}

.nav-contact::before {
    content: "Contact"
}

/*Bar*/
.bar {

    font-size: xx-large;
    text-align: center;
    background: url(../img/LogoMightyduck-01.ico);
    -webkit-text-fill-color: #fc0707;
    -webkit-text-stroke: 1px #000000;
    height: 50px;
    position: relative;
    background-size: contain;
    background-position:center;
    display: block;

}

/*section*/
.foto_hokey_tres {
    display: none;
}

.foto_hokey_dos {
    left: 25%;
    border: 3px solid #488740;
    height: 300px;
    border-radius: 4% 4% 50% 50%;
    box-shadow: 10px 8px 8px #488740;
    position: relative;
}

section {
    position: relative;
    background: linear-gradient(#d2dda2, #76d676);
}

article {
    display: inline;
    position: relative;
}

article>h3 {
    font-size: 180%;
    margin: 5px;
    text-shadow: 2px 5px 2px #488740;
}

article>p {
    padding: 5px;
    text-indent: 20px;
    font-size: 130%;
}