@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue';
}
header{
    background: url(../img/design1_image1.jpg);
    height: 500px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    font-size: 250%;
 } 
.bar{
    color: aliceblue;
    background-color: black;
    text-align: center;
    padding: 10px;
    font-size: 150%;
}
  
.logo{
   position: relative;
    height: 150px;
    float: right;
    bottom: 100px;
}
nav{
    width: 100px;
    font-size: 110%;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    position: absolute;
}
nav a{
    display: block;
    margin-top: 50px;
}   
.active{
    text-decoration: none;
    color: #000;
}
.nav-contact{
padding-bottom: 50px;
margin-bottom: 50px;
}
.nav-home::before{
    content: "Home";
}
.nav-about::before{
    content: "About MDHL";
}
.nav-contact::before{
    content:"contact"
}
section{
    position: relative;
    margin-left: 100px;
    text-align: left;
    top: 50px;
}
article{
    margin-left: 50px;
    padding-bottom: 20px;
    margin-top: 5px;
}
article>h3{
    font-size: 140%;
    font-weight: bold;
    margin-left: 10%;
}
article>p{
    font-size: 130%;
    margin-left: 12%;
    text-align: justify;
}
.foto_hokey_tres{
    display: none;
}
.foto_hokey_dos{
    display: none;
}